<h1 tabindex="0">Home</h1>

{{ if !loaded }}
    <p>Loading...</p>
{{ end }}

{{ if history && history.length }}
    <div class="home-section" data-home-history>
        <h3>Keep Watching</h3>

        <div class="list-items">
            {{ each item in history }}
                <div class="list-item history-item"
                    data-episode
                    data-episode-id="{{ item.id }}"
                    data-episode-number="{{ item.number }}"
                    data-episode-name="{{ item.name }}"
                    data-episode-duration="{{ item.duration }}"
                    data-episode-playhead="{{ item.playhead }}"
                    data-episode-premium="{{ item.premium }}">
                    <a href="serie/{{ item.serie_id }}/season/{{ item.season_id }}/episode/{{ item.id }}/video" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" 
                                title="{{ item.serie_name }} - E{{ item.number }} - {{ item.name }}" 
                                loading="lazy"/>
                            <div class="list-item-progress hidden">&nbsp;</div>
                            <div class="list-item-premium hidden">&nbsp;</div>
                        </div>
                        <div class="list-item-info">
                            <h2>{{ item.serie_name }}</h2>
                            <h3>E{{ item.number }} - {{ item.name }}</h3>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ if watchlist && watchlist.length }}
    <div class="home-section" data-home-watchlist>
        <h3>Your Watchlist</h3>

        <div class="list-items">
            {{ each item in watchlist }}
                <div class="list-item watchlist-item"
                    data-episode
                    data-episode-id="{{ item.id }}"
                    data-episode-number="{{ item.number }}"
                    data-episode-name="{{ item.name }}"
                    data-episode-duration="{{ item.duration }}"
                    data-episode-playhead="{{ item.playhead }}"
                    data-episode-premium="{{ item.premium }}">
                    <a href="serie/{{ item.serie_id }}/season/{{ item.season_id }}/episode/{{ item.id }}/video" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" 
                                title="{{ item.serie_name }} - E{{ item.number }} - {{ item.name }}" 
                                loading="lazy"/>
                            <div class="list-item-progress hidden">&nbsp;</div>
                            <div class="list-item-premium hidden">&nbsp;</div>
                        </div>
                        <div class="list-item-info">
                            <h2>{{ item.serie_name }}</h2>
                            <h3>E{{ item.number }} - {{ item.name }}</h3>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ if recommendations && recommendations.length }}
    <div class="home-section" data-home-recommendations>
        <h3>Recommendations</h3>

        <div class="list-items">
            {{ each item in recommendations }}
                <div class="list-item explore-item">
                    <a href="serie/{{ item.id }}" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" 
                                title="{{ item.name }}" 
                                width="640" 
                                height="960" 
                                loading="lazy" />
                        </div>
                        <div class="list-item-info">
                            <h2>{{ item.name }}</h2>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ if popular && popular.length }}
    <div class="home-section" data-home-popular>
        <h3>Popular</h3>

        <div class="list-items">
            {{ each item in popular }}
                <div class="list-item explore-item">
                    <a href="serie/{{ item.id }}" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" 
                                title="{{ item.name }}" 
                                width="640" 
                                height="960" 
                                loading="lazy" />
                        </div>
                        <div class="list-item-info">
                            <h2>{{ item.name }}</h2>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}