<div id="login">
    <form action="#" method="POST" autocomplete="off">

        <div>
            <label for="username">Email:</label>
            <input
                id="username"
                type="email"
                value="{{ store('username', '') }}"
                tabindex="0"
                autocomplete="off"
                required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input
                id="password"
                type="password"
                value="{{ store('password', '') }}"
                tabindex="0"
                autocomplete="off"
                required>
        </div>

        <button type="submit" tabindex="0">Login</button>

        {{ if message }}
            <div id="message">{{ message }}</div>
        {{ end }}

    </form>
</div>