<div id="login">
    <form action="#" method="POST">

        <div>
            <label for="email">E-mail:</label>
            <input
                id="email"
                type="email"
                value="{{ store('email', '') }}"
                tabindex="0"
                required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input
                id="password"
                type="password"
                value="{{ store('password', '') }}"
                tabindex="0"
                required>
        </div>

        <div>
            <label for="locale">Locale:</label>
            <div class="dropdown" tabindex="0" data-dropdown>
                <input type="hidden" id="locale" name="locale" value="{{ store('locale', 'enUS') }}">
                <div class="dropdown-value"></div>
                <div class="dropdown-list">
                    <ul>
                        <li tabindex="0" data-value="enUS">English (US)</li>
                        <li tabindex="0" data-value="enGB">English (UK)</li>
                        <li tabindex="0" data-value="esLA">Español</li>
                        <li tabindex="0" data-value="esES">Español (España)</li>
                        <li tabindex="0" data-value="ptBR">Português (Brasil)</li>
                        <li tabindex="0" data-value="ptPT">Português (Portugal)</li>
                        <li tabindex="0" data-value="frFR">Français (France)</li>
                        <li tabindex="0" data-value="deDE">Deutsch</li>
                        <li tabindex="0" data-value="itIT">Italiano</li>
                        <li tabindex="0" data-value="ruRU">Русский</li>
                        <li tabindex="0" data-value="arME">العربية</li>
                        <li tabindex="0" data-value="jaJP">日本語</li>
                    </ul>
                </div>
            </div>
        </div>

        <button type="submit" tabindex="0">Login</button>

        {{ if message }}
            <div id="message">{{ message }}</div>
        {{ end }}

    </form>
</div>