<div class="links">
    <a href="home"
        class="link link-home"
        data-content="home"
        tabindex="0"
        title="Home">
        <span class="icon"></span>
        <span class="label">Home</span>
    </a>
    <a href="explore"
        class="link link-explore"
        tabindex="0"
        title="Explore">
        <span class="icon"></span>
        <span class="label">Explore</span>
    </a>
    <a href="watchlist"
        class="link link-watchlist"
        data-content="watchlist"
        tabindex="0"
        title="Watchlist">
        <span class="icon"></span>
        <span class="label">Watchlist</span>
    </a>
    <a href="history"
        class="link link-history"
        tabindex="0"
        title="History">
        <span class="icon"></span>
        <span class="label">History</span>
    </a>
    <a href="search"
        class="link link-search"
        data-content="search"
        tabindex="0"
        title="Search">
        <span class="icon"></span>
        <span class="label">Search</span>
    </a>
</div>

{{ if store('accountId') }}
    <div class="account">
        <div class="account-image">
            <img src="{{ store('avatar') }}" 
                width="48" height="48" 
                alt="{{ store('user') }}"
                loading="lazy" />
        </div>
        <div class="account-info">
            <div class="account-name">
                <span>{{ store('user') }}</span>
            </div>
            <div class="account-logout">
                <a href="logout" tabindex="0" title="Logout">
                    <span class="icon"></span>
                    <span class="label">Logout</span>
                </a>
            </div>
        </div>
    </div>
{{ end }}