<h1 tabindex="0">Search</h1>

<div class="list-search">
    <input
        type="text"
        id="query"
        value="{{ query }}"
        placeholder="Search for animes"
        autocomplete="off"
        tabindex="0">
</div>

{{ if !query }}
    <p>Please use the search field to find what you are looking for.</p>
{{ end }}

{{ if error && message }}
    <div class="error-message">
        <p>{{ message }}</p>
    </div>
{{ end }}

{{ if query && !loaded }}
    <p>Loading...</p>
{{ end }}

{{ if query && loaded }}
    <div class="list-info">
        <p>{{ total }} results found for "<em>{{ query }}</em>"</p>
    </div>
{{ end }}

{{ if query && items && items.length }}
    <div class="list-items">
        {{ each item in items }}
            <div class="list-item">
                <a href="serie/{{ item.id }}" class="list-item-inside" tabindex="0">
                    <div class="list-item-image">
                        <img src="{{ item.image }}" 
                            title="{{ item.name }}" 
                            width="640" 
                            height="960" 
                            loading="lazy" />
                    </div>
                    <div class="list-item-info">
                        <h2>{{ item.name }}</h2>
                    </div>
                </a>
            </div>
        {{ end }}
    </div>
{{ end }}

{{ if previousPage || nextPage }}
    <div class="list-pagination">
        {{ if previousPage }}
            <a href="{{ previousPage }}" title="Previous page" tabindex="0">
                <span>Previous Page</span>
            </a>
        {{ end }}
        {{ if nextPage }}
            <a href="{{ nextPage }}" title="Next page" tabindex="0">
                <span>Next Page</span>
            </a>
        {{ end }}
    </div>
{{ end }}