<div class="list-header">
    <h1 tabindex="0">
        {{ serieName }}
    </h1>

    <button
        class="add-to-watchlist {{ inWatchlist ? 'hidden' : '' }}"
        tabindex="0">
        <span class="icon"></span>
        <span>Add</span>
    </button>
    <button
        class="remove-from-watchlist {{ inWatchlist ? '' : 'hidden' }}"
        tabindex="0">
        <span class="icon"></span>
        <span>Remove</span>
    </button>
</div>

{{ if seasonsCount || episodesCount }} 
    <div class="list-info">
        {{ if seasonsCount }}
            {{ seasonsCount }} {{ seasonsCount == 1 ? 'season' : 'seasons'}} 
        {{ end }}
        {{ if seasonsCount && episodesCount }} 
            <span class="separator">|</span>
        {{ end }}
        {{ if episodesCount }} 
            {{ episodesCount }} {{ episodesCount == 1 ? 'episode' : 'episodes' }}
        {{ end }}
    </div>
{{ end }}

<div class="list-filters">
    <div class="dropdown" tabindex="0" data-dropdown>
        <input type="hidden" id="season" name="season" value="{{ seasonId }}">
        <div class="dropdown-value">Season</div>
        <div class="dropdown-list">
            <ul>
                {{ each option in seasons }}
                    <li tabindex="0" data-value="{{ option.id }}">S{{ option.number }} - {{ option.name }}</li>
                {{ end }}
            </ul>
        </div>
    </div>

    <div class="dropdown" tabindex="0" data-dropdown>
        <input type="hidden" id="sort" name="sort" value="{{ sort }}">
        <div class="dropdown-value">Sort</div>
        <div class="dropdown-list">
            <ul>
                <li tabindex="0" data-value="asc">Ascending</li>
                <li tabindex="0" data-value="desc">Descending</li>
            </ul>
        </div>
    </div>
</div>

{{ if error && message }}
    <div class="error-message">
        <p>{{ message }}</p>
    </div>
{{ end }}

{{ if !loaded }}
    <p>Loading...</p>
{{ end }}

{{ if loaded && total }}
    <div class="list-info">
        <p>{{ total }} {{ total == 1 ? 'episode in this season' : 'episodes in this season'}}</p>
    </div>
{{ end }}

{{ if items && items.length }}
    <div class="list-items">
        {{ each item in items }}
            <div class="list-item serie-episode-item"
                data-episode
                data-episode-id="{{ item.id }}"
                data-episode-number="{{ item.number }}"
                data-episode-name="{{ item.name }}"
                data-episode-duration="{{ item.duration }}"
                data-episode-playhead="{{ item.playhead }}"
                data-episode-premium="{{ item.premium }}">
                <a href="serie/{{ item.serie_id }}/season/{{ item.season_id }}/episode/{{ item.id }}/video" class="list-item-inside" tabindex="0">
                    <div class="list-item-image">
                        <img src="{{ item.image }}" 
                            title="E{{ item.number }} - {{ item.name }}" 
                            loading="lazy" />
                        <div class="list-item-progress hidden">&nbsp;</div>
                        <div class="list-item-premium hidden">&nbsp;</div>
                    </div>
                    <div class="list-item-info">
                        <h3>E{{ item.number }} - {{ item.name }}</h3>
                    </div>
                </a>
            </div>
        {{ end }}
    </div>
{{ elseif loaded && !error && !items.length }}
    <p>No episodes found.</p>
{{ end }}

{{ if previousPage || nextPage }}
    <div class="list-pagination">
        {{ if previousPage }}
            <a href="{{ previousPage }}" title="Previous page" tabindex="0">
                <span>Previous Page</span>
            </a>
        {{ end }}
        {{ if nextPage }}
            <a href="{{ nextPage }}" title="Next page" tabindex="0">
                <span>Next Page</span>
            </a>
        {{ end }}
    </div>
{{ end }}