<h1>
    <small>Serie /</small><br/>
    {{ serieName }} - Episodes
</h1>

<div class="list-filters">
    <div class="dropdown" tabindex="0" data-dropdown>
        <input type="hidden" id="sort" name="sort" value="{{ sort }}">
        <div class="dropdown-value"></div>
        <div class="dropdown-list">
            <ul>
                <li tabindex="0" data-value="asc">Ascending</li>
                <li tabindex="0" data-value="desc">Descending</li>
            </ul>
        </div>
    </div>

    <button
        class="add-to-queue {{ inQueue ? 'hidden' : '' }}"
        tabindex="0">Add To Queue</button>
    <button
        class="remove-from-queue {{ inQueue ? '' : 'hidden' }}"
        tabindex="0">Remove From Queue</button>
</div>

{{ if !loaded }}
    <p>Loading...</p>
{{ end }}

{{ if items && items.length }}
    <div class="list-items">
        {{ each item in items }}
        <div class="list-item serie-episode-item"
            data-episode
            data-episode-id="{{ item.id }}"
            data-episode-number="{{ item.number }}"
            data-episode-name="{{ item.name }}"
            data-episode-duration="{{ item.duration }}"
            data-episode-playhead="{{ item.playhead }}"
            data-episode-premium="{{ item.premium }}">
            <a href="serie/{{ item.serie_id }}/episode/{{ item.id }}/video" class="list-item-inside" tabindex="0">
                <div class="list-item-image">
                    <img src="{{ item.image }}" title="E{{ item.number }} - {{ item.name }}" />
                    <div class="list-item-progress hidden">&nbsp;</div>
                    <div class="list-item-premium hidden">&nbsp;</div>
                </div>
                <div class="list-item-info">
                    <h3>E{{ item.number }} - {{ item.name }}</h3>
                </div>
            </a>
        </div>
        {{ end }}
        <div class="fill"></div>
        <div class="fill"></div>
        <div class="fill"></div>
        <div class="fill"></div>
    </div>
{{ elseif loaded }}
    <p>No episodes found.</p>
{{ end }}

{{ if previousPage || nextPage }}
    <div class="list-pagination">
        {{ if previousPage }}
            <a href="{{ previousPage }}" title="Previous page" tabindex="0"><span>Previous Page</span></a>
        {{ end }}
        {{ if nextPage }}
            <a href="{{ nextPage }}" title="Next page" tabindex="0"><span>Next Page</span></a>
        {{ end }}
    </div>
{{ end }}