<div id="video">

    <div class="video-backdrop"></div>

    <div class="video-actions">
        <div tabindex="0"
            class="video-icon video-close"
            title="Close / Back">
            <span>Close</span>
        </div>
        <div tabindex="0"
            class="video-icon video-quality"
            data-next="-1"
            title="Quality">
            <span>Auto</span>
        </div>
        <div tabindex="0"
            class="video-icon video-watched"
            title="Watched">
            <span>Watched</span>
        </div>
        <div tabindex="0"
            class="video-icon video-episodes"
            title="Episodes">
            <span>Episodes</span>
        </div>
        <div tabindex="0"
            class="video-icon video-previous-episode"
            title="Previous Episode - Loading...">
            <span>Previous</span>
        </div>
        <div tabindex="0"
            class="video-icon video-next-episode"
            title="Next Episode - Loading...">
            <span>Next</span>
        </div>
    </div>

    <div class="video-info">
        <div class="video-serie"></div>
        <div class="video-title"></div>
        <div class="video-error"></div>
    </div>

    <div class="video-time">
        <time class="elapsed">00:00</time>
        <span> / </span>
        <time class="duration">00:00</time>
    </div>

    <div class="video-controls">

        <div class="video-progress">
            <progress value="0" min="0" max="0"></progress>
            <input type="range" value="0" min="0" max="0" step="1">
            <div class="tooltip">00:00</div>
        </div>

        <div tabindex="0"
            class="video-icon video-backward"
            title="Backward">
            <span>Backward</span>
        </div>
        <div tabindex="0"
            class="video-icon video-pause"
            title="Pause">
            <span>Pause</span>
        </div>
        <div tabindex="0"
            class="video-icon video-play"
            title="Play">
            <span>Play</span>
        </div>
        <div tabindex="0"
            class="video-icon video-reload"
            title="Reload">
            <span>Reload</span>
        </div>
        <div tabindex="0"
            class="video-icon video-fullscreen"
            title="FullScreen">
            <span>FullScreen</span>
        </div>
        <div tabindex="0"
            class="video-icon video-skip-intro"
            title="Skip Intro">
            <span>Skip Intro</span>
        </div>
        <div tabindex="0"
            class="video-icon video-forward"
            title="Forward">
            <span>Forward</span>
        </div>

    </div>

    <video class="video-element"
        controls preload="metadata" allow="autoplay; fullscreen"></video>

</div>