<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Crunchyroll TV</title>

    <link href="css/styles.scss" rel="stylesheet">
    <link rel="shortcut icon" href="img/130px.png" type="image/png">

</head>
<body data-proxy="">

    <div id="main" data-keyboard-navigation>

        <div id="loading" data-loading>
            <span>&nbsp;</span>
        </div>

        <div id="menu" data-menu></div>
        <div id="content" data-view></div>

    </div>

    <script type="text/template" id="template-history">
        <h1>History</h1>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        {{ if items && items.length }}

            <div class="list-items">
                {{ each item in items }}
                <div class="list-item history-item"
                    data-episode
                    data-episode-id="{{ item.id }}"
                    data-episode-number="{{ item.number }}"
                    data-episode-name="{{ item.name }}"
                    data-episode-duration="{{ item.duration }}"
                    data-episode-playhead="{{ item.playhead }}"
                    data-episode-premium="{{ item.premium }}">
                    <a href="serie/{{ item.serie_id }}/episode/{{ item.id }}/video" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" title="{{ item.serie_name }} - E{{ item.number }} - {{ item.name }}" />
                            <div class="list-item-progress hidden">&nbsp;</div>
                            <div class="list-item-premium hidden">&nbsp;</div>
                        </div>
                        <div class="list-item-info">
                            <h2>{{ item.serie_name }}</h2>
                            <h3>E{{ item.number }} - {{ item.name }}</h3>
                        </div>
                    </a>
                </div>
                {{ end }}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>

        {{ elseif loaded }}

            <p>Looks like you don't have any watch history yet... try watching something first.</p>

        {{ end }}
    </script>

    <script type="text/template" id="template-login">
        <div id="login">
            <form action="#" method="POST">

                <div>
                    <label for="email">E-mail:</label>
                    <input
                        id="email"
                        type="email"
                        value="{{ store('email', '') }}"
                        tabindex="0"
                        required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input
                        id="password"
                        type="password"
                        value="{{ store('password', '') }}"
                        tabindex="0"
                        required>
                </div>

                <div>
                    <label for="locale">Locale:</label>
                    <div class="dropdown" tabindex="0" data-dropdown>
                        <input type="hidden" id="locale" name="locale" value="{{ store('locale', 'enUS') }}">
                        <div class="dropdown-value"></div>
                        <div class="dropdown-list">
                            <ul>
                                <li tabindex="0" data-value="enUS">English (US)</li>
                                <li tabindex="0" data-value="enGB">English (UK)</li>
                                <li tabindex="0" data-value="esLA">Español</li>
                                <li tabindex="0" data-value="esES">Español (España)</li>
                                <li tabindex="0" data-value="ptBR">Português (Brasil)</li>
                                <li tabindex="0" data-value="ptPT">Português (Portugal)</li>
                                <li tabindex="0" data-value="frFR">Français (France)</li>
                                <li tabindex="0" data-value="deDE">Deutsch</li>
                                <li tabindex="0" data-value="itIT">Italiano</li>
                                <li tabindex="0" data-value="ruRU">Русский</li>
                                <li tabindex="0" data-value="arME">العربية</li>
                                <li tabindex="0" data-value="jaJP">日本語</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <button type="submit" tabindex="0">Login</button>

                {{ if message }}
                    <div id="message">{{ message }}</div>
                {{ end }}

            </form>
        </div>
    </script>

    <script type="text/template" id="template-menu">
        <div class="links">
            <a href="series"
                class="link"
                tabindex="0">Series</a>
            <a href="queue"
                class="link"
                data-content="queue"
                tabindex="0">Queue</a>
            <a href="history"
                class="link"
                tabindex="0">History</a>
        </div>

        {{ if store('sessionId') }}
            <div class="account">
                <div class="account-name">{{ store('userName') }}</div>
                <a href="logout"
                    class="account-logout"
                    tabindex="0">Logout</a>
            </div>
        {{ end }}
    </script>

    <script type="text/template" id="template-queue">
        <h1>Queue</h1>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        {{ if items && items.length }}

            <div class="list-items">
                {{ each item in items }}
                <div class="list-item queue-item"
                    data-episode
                    data-episode-id="{{ item.id }}"
                    data-episode-number="{{ item.number }}"
                    data-episode-name="{{ item.name }}"
                    data-episode-duration="{{ item.duration }}"
                    data-episode-playhead="{{ item.playhead }}"
                    data-episode-premium="{{ item.premium }}">
                    <a href="serie/{{ item.serie_id }}/episode/{{ item.id }}/video" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" title="{{ item.serie_name }} - E{{ item.number }} - {{ item.name }}"/>
                            <div class="list-item-progress hidden">&nbsp;</div>
                            <div class="list-item-premium hidden">&nbsp;</div>
                        </div>
                        <div class="list-item-info">
                            <h2>{{ item.serie_name }}</h2>
                            <h3>E{{ item.number }} - {{ item.name }}</h3>
                        </div>
                    </a>
                </div>
                {{ end }}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>

        {{ elseif loaded }}

            <p>Looks like you don't have anything on queue yet. Try adding some series to the queue.</p>

        {{ end }}
    </script>

    <script type="text/template" id="template-serie">
        <h1>
            <small>Serie /</small><br/>
            {{ serieName }} - Episodes
        </h1>

        <div class="list-filters">
            <div class="dropdown" tabindex="0" data-dropdown>
                <input type="hidden" id="sort" name="sort" value="{{ sort }}">
                <div class="dropdown-value"></div>
                <div class="dropdown-list">
                    <ul>
                        <li tabindex="0" data-value="asc">Ascending</li>
                        <li tabindex="0" data-value="desc">Descending</li>
                    </ul>
                </div>
            </div>

            <button
                class="add-to-queue {{ inQueue ? 'hidden' : '' }}"
                tabindex="0">Add To Queue</button>
            <button
                class="remove-from-queue {{ inQueue ? '' : 'hidden' }}"
                tabindex="0">Remove From Queue</button>
        </div>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        {{ if items && items.length }}
            <div class="list-items">
                {{ each item in items }}
                <div class="list-item serie-episode-item"
                    data-episode
                    data-episode-id="{{ item.id }}"
                    data-episode-number="{{ item.number }}"
                    data-episode-name="{{ item.name }}"
                    data-episode-duration="{{ item.duration }}"
                    data-episode-playhead="{{ item.playhead }}"
                    data-episode-premium="{{ item.premium }}">
                    <a href="serie/{{ item.serie_id }}/episode/{{ item.id }}/video" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" title="E{{ item.number }} - {{ item.name }}" />
                            <div class="list-item-progress hidden">&nbsp;</div>
                            <div class="list-item-premium hidden">&nbsp;</div>
                        </div>
                        <div class="list-item-info">
                            <h3>E{{ item.number }} - {{ item.name }}</h3>
                        </div>
                    </a>
                </div>
                {{ end }}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {{ elseif loaded }}
            <p>No episodes found.</p>
        {{ end }}

        {{ if previousPage || nextPage }}
            <div class="list-pagination">
                {{ if previousPage }}
                    <a href="{{ previousPage }}" title="Previous page" tabindex="0"><span>Previous Page</span></a>
                {{ end }}
                {{ if nextPage }}
                    <a href="{{ nextPage }}" title="Next page" tabindex="0"><span>Next Page</span></a>
                {{ end }}
            </div>
        {{ end }}
    </script>

    <script type="text/template" id="template-series">
        <h1>Series</h1>

        <div class="list-filters">
            <div class="dropdown" tabindex="0" data-dropdown>
                <input type="hidden" id="filter" name="filter" value="{{ filter }}">
                <div class="dropdown-value"></div>
                <div class="dropdown-list">
                    <ul>
                        {{ each option in filters }}
                            <li tabindex="0" data-value="{{ option.id }}">{{ option.name }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <input type="text"
                id="search"
                value="{{ search }}"
                placeholder="Search"
                tabindex="0">
        </div>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        {{ if items && items.length }}
            <div class="list-items">
                {{ each item in items }}
                <div class="list-item series-item">
                    <a href="serie/{{ item.id }}" class="list-item-inside" tabindex="0">
                        <div class="list-item-image">
                            <img src="{{ item.image }}" title="{{ item.name }}" width="640" height="960" />
                        </div>
                        <div class="list-item-info">
                            <h2>{{ item.name }}</h2>
                            <!-- <p>{{ item.description }}</p> -->
                        </div>
                    </a>
                </div>
                {{ end }}
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
                <div class="fill"></div>
            </div>
        {{ elseif loaded }}
            <p>No series found.</p>
        {{ end }}

        {{ if previousPage || nextPage }}
            <div class="list-pagination">
                {{ if previousPage }}
                    <a href="{{ previousPage }}" title="Previous page" tabindex="0"><span>Previous Page</span></a>
                {{ end }}
                {{ if nextPage }}
                    <a href="{{ nextPage }}" title="Next page" tabindex="0"><span>Next Page</span></a>
                {{ end }}
            </div>
        {{ end }}
    </script>

    <script type="text/template" id="template-video">
        <div id="video">

            <div class="video-backdrop"></div>

            <div class="video-actions">
                <div tabindex="0"
                    class="video-icon video-close"
                    title="Close / Back">
                    <span>Close</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-watched"
                    title="Watched">
                    <span>Watched</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-episodes"
                    title="Episodes">
                    <span>Episodes</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-previous-episode"
                    title="Previous Episode">
                    <span>Previous</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-next-episode"
                    title="Next Episode">
                    <span>Next</span>
                </div>
            </div>

            <div class="video-quality">
                <div tabindex="0"
                    data-level="-1"
                    class="video-auto active"
                    title="Auto">
                    <span>Auto</span>
                </div>
                <div tabindex="0"
                    data-level="4"
                    class="video-1080p"
                    title="1080p">
                    <span>1080p</span>
                </div>
                <div tabindex="0"
                    data-level="3"
                    class="video-720p"
                    title="720p">
                    <span>720p</span>
                </div>
                <div tabindex="0"
                    data-level="2"
                    class="video-480p"
                    title="480p">
                    <span>480p</span>
                </div>
                <div tabindex="0"
                    data-level="1"
                    class="video-360p"
                    title="360p">
                    <span>360p</span>
                </div>
                <div tabindex="0"
                    data-level="0"
                    class="video-240p"
                    title="240p">
                    <span>240p</span>
                </div>
            </div>

            <div class="video-info">
                <div class="video-serie"></div>
                <div class="video-title"></div>
                <div class="video-error"></div>
            </div>

            <div class="video-time">
                <time class="elapsed">00:00</time>
                <span> / </span>
                <time class="duration">00:00</time>
            </div>

            <div class="video-controls">

                <div class="video-progress">
                    <progress value="0" min="0" max="0"></progress>
                    <input type="range" value="0" min="0" max="0" step="1">
                    <div class="tooltip">00:00</div>
                </div>

                <div tabindex="0"
                    class="video-icon video-backward"
                    title="Backward">
                    <span>Backward</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-pause"
                    title="Pause">
                    <span>Pause</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-play"
                    title="Play">
                    <span>Play</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-reload"
                    title="Reload">
                    <span>Reload</span>
                </div>
                <div class="video-icon video-fullscreen"
                    title="FullScreen">
                    <span>FullScreen</span>
                </div>
                <div class="video-icon video-skip-intro"
                    title="Skip Intro">
                    <span>Skip Intro</span>
                </div>
                <div tabindex="0"
                    class="video-icon video-forward"
                    title="Forward">
                    <span>Forward</span>
                </div>

            </div>

            <video class="video-element"
                controls preload="metadata" allow="autoplay; fullscreen"></video>

        </div>
    </script>

    <script defer src="lib/hls.js"></script>
    <script defer src="lib/vine.ts"></script>

    <script defer src="js/api.ts"></script>
    <script defer src="js/dropdown.ts"></script>
    <script defer src="js/episode.ts"></script>
    <script defer src="js/history.ts"></script>
    <script defer src="js/keyboard.ts"></script>
    <script defer src="js/loading.ts"></script>
    <script defer src="js/login.ts"></script>
    <script defer src="js/logout.ts"></script>
    <script defer src="js/menu.ts"></script>
    <script defer src="js/queue.ts"></script>
    <script defer src="js/serie.ts"></script>
    <script defer src="js/series.ts"></script>
    <script defer src="js/video.ts"></script>
    <script defer src="js/view.ts"></script>
    <script defer src="js/bootstrap.ts"></script>

</body>
